@import url("@/assets/font/ChillRoundGothic/stylesheet.css");

* {
    padding: 0;
    margin: 0;
}

:root {
    color: #303030e0;
    font-size: 2vh;
    font-family: ChillRoundGothic, 思源黑体, sans-serif;
}

a {
    color: inherit;
}

::selection {
    background-color:rgba(115, 183, 14, 0.6);
    color:rgba(255, 255, 251, 0.85);
}

.mask {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}