* {
    padding: 0;
    margin: 0;
    font-family: 寒蝉圆黑体, 思源黑体, sans-serif;
}

a {
    text-decoration: inherit;
}

::selection {
    background-color:#6cae09;
    color: #fffffb;
}

.mask {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}