
@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_ExtraLight.otf.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Light.otf.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Normal.otf.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Medium.otf.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Regular.otf.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Bold.otf.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url('ChillRoundGothic_Heavy.otf.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

